.info-abt-page{
    background-color:black;
    color:purple;
    margin-top: 1.5rem;
    padding: 1.5rem 0;
    text-align: center;
}


.info-abt-page__message{
    border: 1px solid green;
    font-weight: 100;
    font-style: italic;
    color: green;
    text-align: center;
    padding: 1.2rem 0 1.2rem 0;
    .link{
        color: rgb(151, 148, 151);
    }
}