.profile-container{
    //border: 1px solid black;
    input{
        padding-left: 3rem;
    
    }
}

.profile-container-element__left{
    display: flex;
    float: left;
    width: 25%;
    height: 5.3rem;
    background: black;
    color: grey;
    justify-content:center;
    border-top: 0.2rem solid  rgb(77, 2, 77);
    p{
        margin-top: 2.5rem;
    }

}
@media (min-width: 45rem) {
    .profile-container-element__left{
        display: flex;
        float: left;
        width: 30%;
        height: 5rem;
        background: black;
        color: grey;
        justify-content:center;
        border-top: 0.2rem solid  rgb(77, 2, 77);
        p{
            margin-top: 2rem;
        }
    
    }
}




.profile-container-element__right{
    display: flex;
    float: right;
    width: 74%;
    height: 5.3rem;
    background: transparent;
    color: black;
    border-top: 0.2rem solid black;
    p{
        margin-top: 2.5rem;
        margin-left: 1.3rem;
    }
}

@media (min-width: 45rem) {
    
.profile-container-element__right{
    display: flex;
    float: right;
    width: 70%;
    height: 5rem;
    background: transparent;
    color: black;
    border-top: 0.2rem solid black;
    p{
        margin-top: 2.5rem;
        margin-left: 1.3rem;
    }
}
}




.for-form{
    width: 65%;
    font-size: 1.6rem;
}




.profile-container-element__right__btn{
    display: flex;
    float: right;
    width: 67.8%;
    height: 5rem;
    background: rgb(77, 2, 77);
    color: black;
    text-decoration: none;
    border: 2px solid black;
    
    
    p{
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }


    &:hover, &:focus {
        background:rgb(44, 1, 44);;
        color: rgb(151, 148, 151);
    }
    &:active{
        background: rgb(0, 0, 0);;
        color: rgb(151, 148, 151);
    }

}





.profile-container-element__left__btn{
    display: flex;
    float: left;
    width: 29.3%;
    height: 5rem;
    background:rgb(77, 2, 77);
    color:black;
    border : 2px solid black;
    justify-content:center;
    text-decoration: none;
    p{
        margin-top: 1.5rem;
        margin-left: auto;
        margin-right: auto;
    }
    &:hover, &:focus {
        background:rgb(44, 1, 44);;
        color: rgb(151, 148, 151);
    }
    &:active{
        background: rgb(0, 0, 0);;
        color: rgb(151, 148, 151);
    }

}
